<div class="comment">
  <ul>
    <li>
      "<%= comment.content %>"
      by <%= current_user.name %>
      at <%= comment.updated_at.strftime("%I:%M%p on %m/%d/%Y") %>
      <% if  admin? %>
          <div class="delete"><%= link_to "Delete Comment", [@hotspot, comment], method: 'delete' %></div>
      <% end %>
    </li>
  </ul>
</div>