/*notes are in comments UNDERNEATH each line and what it does, no notes, means it's self-explanatory*/

body {
line-height: 1.4;
/*one way to start airing things out and common frame of ref, in em (inherit from each box), rem (for total page)*/
font-family: Georgia, serif;
border-top: 10px solid rgb(36, 36, 36);
/*same thing as #333333, rgba has alpha value for transparency*/
/*try to keep your color styles have the same style, hex or rgb*/
}

header {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*use only margin-bottom/right, so you know what's always pushing your thing which was, since it helps to use margin the same way*/
  /*full width is == to 16 columns in skeleton.css (total is 16 columns to work with)*/
  /*writign in the div clss name 'ten columns' or 'sixteen columns' will span that many columns*/
  /*sixteen is == entire row*/
}

h1 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2px;
  color: rgb(36, 36, 36);
  /*spacing between each letter*/
}

nav {
  margin-top: -20px;
  /*negative margins to pull elements up*/
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 10px;
  background-color: #ff6319;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  color: white;
  /*stick with integers for pixel values, % will render decimals though*/
  transition: .5s all;
}

nav ul li:hover {
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}

.main-img {
  margin-bottom: 20px;
}

.main-img img {
  width: 100%;
}

.post {
  margin-bottom: 60px;
  border-top: 1px solid rgb(121, 121, 121);
  padding-bottom: 30px;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: 200;
  color: rgb(36, 36, 36);
}

.byline {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: rgb(121, 121, 121);
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.text {
  margin-bottom: 10px;
}

.sidebar {
  background-color: yellow;
}


/*.posts {
  font-size: 24px;
}*/

/*p {
  font-size: 2em;
  2 rem is 40px
  em inherits font from that container, rem inherit from the body font styling
  people ususally use ems and px for value setting - rems ususally not used as distinction is so subtle and ppl don't know about rem as well
}*/