header {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #FF6699;
}

h2 {
  padding-bottom: 50px;
  border-bottom: 10px solid #FF6699;
  font-size: 18px;
  color: #99FFFF;
}

h3 {
  padding-top: 20px;
}

h4 {
  padding-top: 20px;
}

.flash {
  padding-top: 20px;
  font-weight: bold;
  color: #99FFFF;
}

.search {
  padding-top: 20px;
}

.wrapper {
  width: 770;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  margin-left: 15px;
  margin-top: 45px;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0)
}

body {
line-height: 1.4;
font-family: Georgia, serif;
border-top: 10px solid #FF6699;
background: url("http://caffeine-app.com/dark-wood.jpg");
color: #FF6699;
}

.info {
  display: inline-block;
  width: auto;
  padding: 5px;
  border: 2px solid #FF6699;
  margin: auto;
}

.mini-map {
  margin-top: 20px;
  margin-left: 20px;
}

nav {
  margin-top: -20px;
  color: rgb(36, 36 ,36);
  margin-right: 15px;
}

nav ul {
  float: left;
  list-style-type: none;
}

nav ul li {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 40px;
  color: #99FFFF;
}

.link {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  margin: auto;
  text-align: left;
  line-height: 40px;
  font-weight: bold;
  color: orange;
  transition: .8s all;
}

.delete {
  text-transform: uppercase;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}

.widget {
  width: 600px;
  margin-left: 20px;
}

a:link {
  color: #FF6699;
  text-decoration: none;
}

a:visited {
  color: #FF6699;
  text-decoration: none;
}

a:hover {
  color: #99FFFF;
  transition: .5s all;
}

.text {
  margin-bottom: 10px;
}

#message_area {
  margin-left: 20px;
  width: 600px;
  margin-top: 20px;
}

.comment {
  display: inline;
  margin-right: 250px;
}

.field_with_errors input {
  border: 2px solid red;
}

.post {
  margin-left: 20px;
}

iframe {
  width: 550px;
  height: 550px;
  border: 5px solid #FF6699;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 50px;
}

footer {
  margin-top: 60px;
  margin-left: -5px;
  position: absolute;
  border-bottom: 10px solid #FF6699;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

.button {
  margin-left: 20px;
}

.hotspot {
  max-height: 75px;
  max-width: 75px;
}
